<!DOCTYPE html>
<html ng-app="VimeoApp">
<head>
  <title>Vimeo Responsibly</title>
  <link rel="stylesheet" href="/semantic/dist/semantic.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/controllers/angular_app.js"></script>
  <script src="/controllers/category_controller.js"></script>
</head>
<body>

  <h1> Vimeo Responsibly </h1>

  <div ng-controller="CategoryController as videos">
    <form method="post" action="/documentaries">
<!--           <button>documentaries</button> -->
      <select ng-change="videos.logit(category)" ng-model="category" name="test" id="time">
        <option value="documentaries">documentaries</option>
        <option value="animation">animation</option>
      </select>
      <input type="submit">
    </form>

    <div ng-repeat="video in videos.newList"> 
      {{video.name}}
      <div class="player" ng-bind-html="video.embed.html"></div>  
    </div>
  </div>
</body>
</html>