<!DOCTYPE html>
<html ng-app="VimeoApp">
<head>
  <title>Vimeo Responsibly</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/skeleton.css">
  <link rel="stylesheet" href="/styles/loader.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/controllers/angular_app.js"></script>
  <script src="/controllers/category_controller.js"></script>
  <script src="/controllers/register_controller.js"></script>
  <script src="/controllers/playlist_controller.js"></script>

</head>
<body>

<header>
  <img src="/images/VO.png">
  <h3> Curated videos for busy people, like you.</h3>
    <% if(email) {%>

    <form action="/logout" method="post">
      <button id="logout" type="submit">log out</button>
    </form>
    <% } %>

    <% if(!email) {%>
      <a class="button" id="login" href="/login">Login</a>
    <% } %>
</header>
  <div ng-controller="CategoryController as videos">
    <div class="container">
      <form id="cat">
        <div class="selector row">        
          <div class="six columns">
            <div class="row">
            <h5> PICK A CATEGORY </h5>
              <label id="one" class="button" for="music"><i class="fa fa-2x fa-headphones"></i><p>music</p></label>
              <input ng-model="videos.cat" id="music" type="radio" name="category" value="music">

              <label id="two" class="button" for="documentary"><i class="fa fa-video-camera fa-2x"></i><p>documentary</p></label>
              <input ng-model="videos.cat" id="documentary"type="radio" name="category" value="documentary">

              <label id="three" class="button"for="animation"><i class="fa fa-magic fa-2x"></i><p>animation</p></label>
              <input ng-model="videos.cat" id="animation" type="radio" name="category" value="animation">
            </div> <!-- .row -->
         
            <div class="row">
              <label id="four" class="button" for="experimental"><i class="fa fa-gears fa-2x"></i><p>experimental</p></label>
              <input ng-model="videos.cat" id="experimental" type="radio" name="category" value="experimental">

              <label id="five" class="button" for="random"><i class="fa fa-trophy fa-2x"></i><p>Random</p></label>
              <input ng-model="videos.cat" id="random" type="radio" name="category" value="random">

              <label id="six" class="button" for="narrative"><i class="fa fa-map-o fa-2x"></i><p>narrative</p></label>
              <input ng-model="videos.cat" id="narrative" type="radio" name="category" value="narrative">
            </div> <!-- .row -->

            <div class="row">
              <label id="seven" class="button" for="travel"><i class="fa fa-plane fa-2x"></i><p>travel</p></label>
              <input ng-model="videos.cat" id="travel" type="radio" name="category" value="travel">

              <label id="eight" class="button" for="comedy"><i class="fa fa-smile-o fa-2x"></i><p>comedy</p></label>
              <input ng-model="videos.cat" id="comedy" type="radio" name="category" value="comedy">

              <label id="nine" class="button" for="sports"><i class="fa fa-futbol-o fa-2x"></i><p>sports</p></label>
              <input ng-model="videos.cat"id="sports" type="radio" name="category" value="sports">
            </div> <!-- .row -->
          </div> <!-- .six columns -->
                 
          <div class="six columns">
            <div class="row">
              <br>
              <br>
              <h5> HOW MUCH TIME CAN YOU SPARE? <br><br>
                <i ng-click="videos.add()" id="plus" class="fa fa-plus-circle"></i><br>
                <input id="min-input" ng-model="videos.minutes" type="text" readonly><br>
                <i ng-click="videos.minus()" id="minus"class="fa fa-minus-circle"></i><br> 
              <h5> We're going to find {{videos.minutes}} minutes worth of {{videos.cat}} videos for you. </h5>  
              <button ng-click="videos.fetch(videos.playlist, videos.time)"id="submit">YES, PLEASE!</button>
              </h5>
            </div> <!-- .row -->
          </div> <!-- .six columns -->
        </div> <!-- .selector -->
      </form>
    </div> <!-- .container -->

    <div id="load-container">
      <div id="loader-visibility">
        <h5 id="load-text">~ LOADING VIDEOS ~</h5>
        <div id="loader" class="loader"></div>
      </div>

      <div id="playlist" ng-repeat="video in videos.playList"> 
        <div class="video-container">
          <div class="player" ng-bind-html="video.embed.html"></div>
        </div> <!-- .video-container -->
      </div> <!-- #playlist -->
    </div> <!-- CategoryController -->
  </div> <!-- #load-container -->

  <% if(!email) { %>
  <div ng-controller="RegisterController as register" id="register-container" class="container">
    <h3> CREATE AN ACCOUNT </h3>
    <ul> 
      <li> saved history of videos you've watched </li>
      <li> guarantee no-repeats! </li>
    </ul>

    <form name="registerForm" class="register-form" validate>
      <label> Name </label>
      <input type="text" name="userName" ng-model="register.name" required>

      <label> Email </label>
      <input type="email" name="userEmail" ng-model="register.email" required>

      <label> Password </label>
      <input type="password" name="userPassword" ng-model="register.password" required minLength="8">
      <br>
      <button id="register" ng-click="register.account(register.login)">Register</button>
    </form>
  </div> <!-- RegisterController -->
  <% } %>

  <% if(email) { %>
  <div id="border"></div>
  <div ng-controller="PlaylistController as playlist" class="container" id="history">
    <h4> PAST VIDEOS WE'VE SENT YOU </h4>
      <div ng-repeat="video in playlist.consolidate">
        <a href="{{video.link}}">{{video.name}}</a>   
      </div>
    </div>
  </body>
  <% } %>
</body>
</html>



