<!DOCTYPE html>
<html ng-app="VimeoApp">
<head>
  <title>Vimeo Responsibly</title>
  <link rel="stylesheet" href="/semantic/dist/semantic.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/controllers/angular_app.js"></script>
  <script src="/controllers/category_controller.js"></script>
</head>
<body>

  <h1> Vimeo Responsibly </h1>

  <div ng-controller="CategoryController as videos">

    <form>
      <select id="cat">
        <option value="/channels/staffpicks/videos">Random</option>
        <option value="/categories/documentary/videos">documentary</option>
        <option value="/categories/animation/videos">animation</option>
        <option value="/experimental/videos">experimental</option>
        <option value="music">music</option>
        <option value="/categories/narrative/videos">narrative</option>
        <option value="/categories/travel/videos">travel</option>
        <option value="/categories/comedy/videos">comedy</option>
        <option value="/categories/personal/videos">personal</option>
      </select>
      <input id="time" type="text">  
      <button id="submit">submit</button>
    </form>

    <div id="playlist" ng-repeat="video in videos.newList"> 
      {{video.name}}
<!--       <div class="player" ng-bind-html="video.embed.html"></div>  --> 
    </div> <!-- #playlist -->
  </div>

</body>
</html>