body {
  padding: 10px;
}
header {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-bottom: black dotted 1px;
}

img {
  max-height: 100px;
}

iframe {
  max-width: 1080px;
}

.playlist {
  display: none;
}

input[type=radio] {
   position: absolute;
   left: -9999px;
}

#loader {
  display: none;
}

form {
  text-align: center;
}

h5 {
  text-align: center;
  padding-top: 10px;
}

.selector {
  display: visible; 
}

.fa-plus-circle, .fa-minus-circle {
  color: #1ab7ea;
}

input[type=text] {
  width: 50px;
  margin: 0px ;
  text-align: right;
}

label {
  background-size: contain;
}

#lady-one {
  background-image: url('/images/Lady_Sq_1.png');
}

#lady-two{
  background-image: url('/images/Lady_Sq_2.png');
}

#lady-three{
  background-image: url('/images/Lady_Sq_3.png');
}

#lady-four{
  background-image: url('/images/Lady_Sq_4.png');
}

#lady-five{
  background-image: url('/images/Lady_Sq_5.png');
}

#lady-six{
  background-image: url('/images/Lady_Sq_6.png');
}

#lady-seven{
  background-image: url('/images/Lady_Sq_7.png');
}

#lady-eight{
  background-image: url('/images/Lady_Sq_8.png');
}

#lady-nine{
  background-image: url('/images/Lady_Sq_9.png');
}

#lady-five{
  background-image: url('/images/Lady_Sq_5.png');
}






