header {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-bottom: black dotted 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;  
}

img {
  max-height: 100px;
}

iframe {
  max-width: 960px;
}

input[type=radio] {
   position: absolute;
   left: -9999px;
}

form {
  text-align: center;
}

h5 {
  text-align: center;
  padding-top: 10px;
}

label {
  background-size: contain;
}


p {
  color: white;
}

.selector {
  display: visible; 
}

.fa-plus-circle, .fa-minus-circle {
  color: #1ab7ea;
}

.video-container {
  position: relative;
  overflow: hidden;
}

.fa-2x {
  color: white;
}

#min-input {
  width: 50px;
  margin: 0px ;
  text-align: center;
}

#loader-visibility {
  display: none;
}


button#submit,
button#login, 
button#register, 
button#logout, 
a#login{
  height: 5px;
  border: 1px solid #1AB7EA;
  line-height: 2px;
  opacity: 1;
  padding: 20px;
  width: 100px;
}

button#submit {
  padding: 25px;
  width: 150px;
}

button#login:hover, 
button#register:hover, 
button#logout:hover, 
a#login:hover,
button#submit:hover {
  background-color: #1AB7EA;
  color: white;
  opacity: .7;
}

#one {
  background-image: url('/images/Music.png');
}

#two {
  background-image: url('/images/Doc.png');
}

#three {
  background-image: url('/images/Anime.png');
}

#four {
  background-image: url('/images/Experiment.png');
}

#five {
  background-image: url('/images/Random.png');
}

#six {
  background-image: url('/images/Narrative.png');
}

#seven {
  background-image: url('/images/Travel.png');
}

#eight {
  background-image: url('/images/Comedy.png');
}

#nine {
  background-image: url('/images/Sports.png');
}

#playlist {
  background-color: black;
  text-align: center;
}

#load-text {
  color: #1ab7ea;
  text-align: center;
}

#register-container {
  text-align: center;
}

#login-container {
  top: 5%;
}

#history {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

#border {
  border-top: 1px dotted black;
}

#historical-videos {
  display:none;
}

.fa-circle-o-notch {
  color: #1AB7EA;
  text-align: center;
  margin: 0 auto;
  display: block;
}

